.desktop {

    width: 100%;
    height: 100vh;

    position: relative;

    overflow: hidden;

    background:

        radial-gradient(circle at top right,
            var(--desktop-glow-1),
            transparent 30%),

        radial-gradient(circle at bottom left,
            var(--desktop-glow-2),
            transparent 35%),

        linear-gradient(135deg,
            var(--background-1),
            var(--background-2),
            var(--background-3));

    transition:
        background .6s ease;

}

/* grid cyber */

.desktop::before {

    content: "";

    position: absolute;

    width: 100%;
    height: 100%;

    background-image:

        linear-gradient(rgba(255, 255, 255, .03) 1px,
            transparent 1px),

        linear-gradient(90deg,
            rgba(255, 255, 255, .03) 1px,
            transparent 1px);

    background-size: 40px 40px;

    opacity: .5;

    pointer-events: none;

}

/* glow */

.desktop::after {

    content: "";

    position: absolute;

    width: 500px;
    height: 500px;

    top: -200px;
    right: -100px;

    border-radius: 50%;

    background:

        rgba(255,
            59,
            92,
            .08);

    filter: blur(120px);

    pointer-events: none;

}